@page "/employee"
@inject SampleDataAccess data

<PageTitle>Employee Directroy</PageTitle>


<h1>Employee Directroy</h1>

<p>This component demonstrates employee cache demo from a service.</p>

@if (employees is null)
{
    <h2>Loading...</h2>
}
else
{
    foreach (var e in employees)
    {
        <p>@e.FirstName @e.LastName</p>
    }
}

@code {
    List<EmployeeModel>? employees;
    @* protected override void OnInitialized()
        {
        employees = data.GetEmployees();
        } *@
    protected override async Task OnInitializedAsync()
    {
        @* employees = await data.GetEmployeesAsync(); *@
        employees = await data.GetEmployeesCache();
    }
}