﻿@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using RedisDemoApp.Data
@using RedisDemoApp.Extensions
@inject WeatherForecastService ForecastService
@inject IDistributedCache cache

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<button class="btn btn-primary" @onclick=LoadForecast>Load Forecast</button>

@if(forecasts is null && loadLocation == "")
{
    <p><em>Click the button to load the forecast</em></p>
}
else if (forecasts is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="h3 @isCacheData">@loadLocation</div>
    <table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private string? loadLocation = "";
    private string isCacheData = "";

    @* protected override async Task OnInitializedAsync()
        {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        } *@

    private async Task LoadForecast()
    {
        forecasts = null;
        loadLocation = null;

        string recordKey = "WheatherForcast_" + DateTime.Now.ToString("yyyyMMdd_hhmm");
        // check if cache of data
        forecasts = await cache.getRecordAsync<WeatherForecast[]>(recordKey);
        if (forecasts is null)
        {
            // get data
            forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
            loadLocation = $"Loaded from API at {DateTime.Now}";
            isCacheData = "";

            await cache.setRecordAsync<WeatherForecast[]>(recordKey, forecasts);
        }
        else
        {
            loadLocation = $"Loaded from the cache at { DateTime.Now }";
            isCacheData = "text-danger";
        }
    }
}
